/* style.css */
* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #F8F2EC;
	margin: 0;
	position:relative;
	font-family: sans-serif
}

body > div{
	/*background-color: #DBD1C8;*/
	margin: auto;
	/*padding: 1em;*/
	position: relative;
	/*width: 80em;*/
}

table {
	white-space: nowrap;
	margin: 20px;	
}

table.large{
	border: 2px solid #3C1E00;
	border-radius: 10px;
	border-spacing: 0px;
	margin: 2em auto;
	overflow: hidden;
}

table.large td{
	border: 1px dotted #C9B9AC;
	padding: 2px 10px;
}

table.large th {
	background-color: #C9B9AC;
	padding: 2px 10px;
}

table.large>tr:first-child>th {
	background-color: #3C1E00;
	color: #F8F2EC;
	font-size: 120%;
}

table.large>tr:nth-child(even) {
	background-color: #DBD1C8;
}

table.large>tr:hover {
	background-color: #C9B9AC;
}

table.large>tr:last-child>td {
	background-color: #C9B9AC;	
}

table#building td:nth-child(4) {
	border-right: 1px solid black;	
}

table#building td:nth-child(5) {
	border-left: 1px solid black;	
}

table#building td:nth-child(8) {
	border-right: 1px solid black;	
}

table#building td:nth-child(9) {
	border-left: 1px solid black;
}

table#base td:nth-child(4) {
	border-right: 1px solid black;	
}

table#base td:nth-child(5) {
	border-left: 1px solid black;	
}

td{
	text-align: right;
}

td:first-child{
	text-align: left;
}

button {
	background-color: #e6dcd2;
	border-color: #b38659;
	border-width: 2px;
	border-style: outset;	
}

button:active {
	background-color: #fff4e9;
	border-style: inset;
}

td button {
	margin-left: 1.61803em;
	margin-right: 1.61803em;
	width:	-webkit-calc(100% - 3.23606em); 
	height: 1.61803em;
}

pre {
	background-color: white;
	color: black;
	width: 90%;
	margin: 2em auto;
	overflow-x: auto;
}